<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Agenda escolar - IFPB</title>
   <link rel="stylesheet" href="../static/agenda.css">
</head>
<body>
    <form action="/loginadm">
  <button type="submit">PÁGINA DO ADM</button>
</form>

    <div class="topo">
        <h1> 🎀Agenda IFPB🎀</h1>
    </div>
    <div class="subtitulo">
        <p>Aqui você pode obter informações sobre os eventos e atividades ocorrentes no Instituto Federal da Paraíba.</p>
    </div>
    <div class="conteudo">
        <div class="b">
            <h2>Eventos e Atividades</h2>

                    {% for eventos in eventoeatvs %}
                        <p>Titulo:{{eventos[0]}}</p>
                        <hr>
                    {% endfor %}

        </div>

        <div class="b">
            <h2>Cronograma semanal</h2>
            <p> <strong> • Segunda-Feira  - 15/09</strong><p>
            <p>Feriado<p>
            <p><strong> • Terça-feira - 16/09</strong><p>
            <p>*olimpíada de matemática  financeira (assunto na plataforma que Lairton passou)<p>
            <p><strong>• Quarta-feira - 17/09</strong><p>
            <p>Contra turno<p>
            <p>Aulão  <p>
            <p><strong> • Quinta- Feira - 18/09</strong>  <p>
            <p>Aula a tarde <p>
            <p><strong> • Sexta-feira - 19/09</strong>  <p>
            <p>Nada até o momento <p>

        </div>

        <div class="b calendario">
            <h2>Calendário</h2>
            <img src="static/imagens/calendario.png" alt="Calendário 2025" width="100%" height="85%">
        </div>
    </div>
    <footer class="rodape">
        <p>2025 IFPB.</p>
    </footer>
</body>
</html>
