<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Agenda escolar - IFPB</title>
   <link rel="stylesheet" href="../static/agenda.css">
</head>
<body>
  <form action="/loginadm">
  <button type="submit">PÁGINA DO ADM</button>
  </form>

    <div class="topo">
        <h1> 🎀Agenda IFPB🎀</h1>
    </div>
    <div class="subtitulo">
        <p>Aqui você pode obter informações sobre os eventos e atividades ocorrentes no Instituto Federal da Paraíba.</p>
    </div>
    <div class="conteudo">
        <div class="b">
            <h2>Eventos e Atividades</h2>
            <h5>Clique no evento para mais informações.</h5>

                    {% for eventos in eventoeatvs %}
                          <a href="/detalhes?titulo={{eventos[0]}}">
                                {{eventos[0]}}
                              <br>
                          </a>
                    {% endfor %}

        </div>

        <div class="b">
           <h2>Links Úteis</h2>
            <ul>
              <li><a href="https://suap.ifpb.edu.br">SUAP</a></li>
                <br>
              <li><a href="https://presencial.ifpb.edu.br/login/index.php">Moodle</a></li>
                <br>
              <li><a href="https://www.ifpb.edu.br">Site do IFPB</a></li>
                <br>
              <li><a href="https://biblioteca.ifpb.edu.br">Biblioteca Virtual</a></li>
                <br>
            </ul>


        </div>

        <div class="b calendario">
            <h2>Calendário</h2>
            <img src="static/imagens/calendario.png" alt="Calendário 2025" width="100%" height="85%">
        </div>
    </div>
    <footer class="rodape">
        <p>2025 IFPB.</p>
    </footer>
</body>
</html>
