<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Lista de Eventos</title>
    <link rel="stylesheet" href="../static/eventos/listareventos.css">
</head>
<body>

    <h1>Lista de Eventos</h1>

    {% if eventoseatvs %}
        <table>
            <thead>
                <tr>
                    <th>Título</th>
                    <th>Local</th>
                    <th>Descrição</th>
                    <th>Data</th>
                    <th>Excluir</th>

                </tr>
            </thead>
            <tbody>
                {% for evento in eventoseatvs %}
                <tr>
                    <td>{{ evento[0] }}</td>
                    <td>{{ evento[1] }}</td>
                    <td>{{ evento[2] }}</td>
                    <td>{{ evento[3] }}</td>
                    <td>
    <form action="/remover" method="POST" style="display:inline;">
        <input tyody>
        </table>pe="hidden" name="titulo" value="{{ evento[0] }}">
        <button type="submit">Remover</button>
    </form>
</td>

                </tr>
                {% endfor %}
            </tb
    {% else %}
        <p style="text-align: center;">Nenhum evento disponível.</p>
    {% endif %}
 <div class="bvoltar">
         <form action="/">
         <button type="submit">VOLTAR</button>
         </form>
 </div>
</html>

