<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/menuadm.css">
    <meta charset="UTF-8">
    <title>Menu</title>
    <p>nayara cadela</p>

    </div>
</head>
<body>
    <div class="a">
        <div class="b">
            <p>
                hora de morfar
            </p>
        </div>
    </div>

     <form action="/remover" method="post">
            <h2>Remover crush</h2>
            <input name="nome" placeholder="digite o nome">
            <button>Enviar</button>
        </form>
        <br><br>
        <a href="/listarcrushs">Listar Crushs</a>

</body>
</html>